<div class="form">

<%= form_for @plane do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :columns %>
  <%= f.text_field :columns %>

  <%= f.label :rows %>
  <%= f.text_field :rows %>
  
  <%= f.submit nil, class: "create_button" %>

  <div class="error_message">
    <% if flash[:error] %>
      <strong><%= flash[:error] %></strong>
    <% end %>
  </div>
  
<% end %>

</div>