<h2>Create a new plane and make money.</h2>

<%= render partial: "form" %>

<hr>

<div>
  <h2>All Planes</h2>
  <ul>
    <% @planes.each do |plane| %>
      <li>
        <h4><%= plane.name %></h4>
        <p>Total Seats: <strong><%= plane.columns * plane.rows %></strong></p>
        <div class="seat_grid">
          <div class="column_number_wrapper">
            <% plane.columns.times do |i| %>
              <span class="number">
                <%= (i + 65).chr %>
              </span>
            <% end %>
          </div>
          <div class="grid_wrapper">
            <% plane.rows.times do |i| %>
              <div class="grid_row">

                <div class="row_number">
                  <div ><%= i + 1 %></div>
                </div>
                
                <div class="columns_wrapper">
                  <% plane.columns.times do |i| %>
                    <div class="seat"></div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>