<%= form_for @flight do |f| %>

  <%= f.label :date, "Date: (i.e. 2020/04/13)" %><br>
  <%= f.text_field :date %><br>

  <%= f.label :origin, "From:" %><br>
  <%= f.text_field :origin %><br>

  <%= f.label :destination, "To:" %><br>
  <%= f.text_field :destination %><br>

  <%= f.label :plane_id, "Select Plane" %><br>
  <%= f.select :plane_id, Plane.pluck(:name, :id) %><br>
  
  <%= f.submit nil, class: "add_flight" %>

  <div class="error_message">
    <% if flash[:error] %>
      <strong><%= flash[:error] %></strong>
    <% end %>
  </div>
  
<% end %>