<div class="form">

<%= form_for @flight do |f| %>

  <%= f.label :date, "Date: (i.e. 2020/04/13)" %>
  <%= f.text_field :date %>

  <%= f.label :origin, "From:" %>
  <%= f.text_field :origin %>

  <%= f.label :destination, "To:" %>
  <%= f.text_field :destination %>

  <%= f.label :plane_id, "Select Plane" %>
  <%= f.select :plane_id, Plane.pluck(:name, :id) %>
  
  <%= f.submit nil, class: "create_button" %>

  <div class="error_message">
    <% if flash[:error] %>
      <strong><%= flash[:error] %></strong>
    <% end %>
  </div>
  
<% end %>

</div>