<h2>Create a new flight.</h2>

<%= render partial: "form" %>

<hr>

<div>
  <h2>All Flights</h2>
  <table class="flight_table">
    <tr>
      <th>Date:</th>
      <th>Flight No.:</th>
      <th>From:</th>
      <th>To:</th>
      <th>Plane:</th>
      <th>Total Seats:</th>
      <th>Booked Seats:</th>
    </tr>
    <% @flights.each do |flight| %>
      <tr>
        <td><%= flight.date %></td>
        <td><%= flight.id %></td>
        <td><%= flight.origin %></td>
        <td><%= flight.destination %></td>
        <td><%= flight.plane.name %></td>
        <td><%= flight.plane.columns * flight.plane.rows %></td>
        <td><%= flight.reservations.length %></td>
      </tr>
    <% end %>
  </table>
</div>