<h2>ADMIN CONTROL PANEL</h2>

<div>
  <%= link_to new_plane_path %>
  |
  <%= link_to edit_plane_path %>
  |
  <%= link_to planes_path %>
  |
  <%= link_to flights_path %>
  |
  <%= link_to new_flight_path %>
  |
  <%= link_to edit_flight_path %>
  |

  <div/>
