<!DOCTYPE html>
<html>
  <head>
    <title>BaRailsBackend</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <nav class="nav">
      <div class="nav_wrapper">
        <div class="nav_wrapper_left">
          <%= link_to image_tag("ba_logo.svg", alt: "Logo", class: "logo"), login_path %>
        </div>

        <% if @current_user.present? %>
        <div class="nav_wrapper_right">
          <ul>
            <li><%= link_to "Planes", new_plane_path %></li>
            <li><%= link_to "Flights", new_flight_path %></li>
            <li><%= link_to "Logout", login_path, method: 'delete' %></li>
          </ul>
        </div>
        <% end %>
      </div>
    </nav>
    <hr>

    <%= yield %>

    <footer>
      <div class="footer_wrapper">
        <p>&copy 2020 - Jam | Swaroop | Ryan from General Assembly SEI 37.</p>
      </div>
    </footer>

  </body>
</html>
