<!DOCTYPE html>
<html>
  <head>
    <title>BaRailsBackend</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <nav class="nav">
      <div class="nav_wrapper">
        <div class="nav_wrapper_left">
          Logo
        </div>
        <div class="nav_wrapper_right">
          <ul>
            <li>Planes</li>
            <li>Flights</li>
          </ul>
        </div>
      </div>
    </nav>
    <hr>

    <%= yield %>

    <hr>
    <footer class="footer">
      <p>&copy; 2020 Burning Airlines.
    </footer>

  </body>
</html>
